/*@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");*/

/*---------- ROOT VARIABLES ----------*/
:root {

    /*---Font Colour---*/
    --brown-darken-1: #6d4c41;
}

/*<!-----------------------HEADER------------------------------------>*/
/*<!-----------------------END OF HEADER------------------------------------>*/


/*<!-----------------------NAV BAR------------------------------------>*/
/*<!-----------------------END OF NAV BAR------------------------------------>*/

/*<!-----------------------WELCOME BANNER------------------------------------>*/
#welcome-banner {

    padding: 80px 0px 80px 0px;
    margin: auto;
    vertical-align: middle;
   
}

#welcome-banner-central-div {
    padding-top: 20px;
    padding-bottom: 20px;
    height: 80px;
    width: 80%;
    background-color: #efebe9;
    margin: auto;
    vertical-align: middle;
  }

#welcome-banner-left-div {
 border-radius: 80% 0% 0% 80%;
height: 80px;
width: 10%;
background-color: #efebe9;
margin: auto;
vertical-align: middle;
}

#welcome-banner-right-div {
border-radius: 0% 80% 80% 0%;
height: 80px;
width: 10%;
background-color: #efebe9;
margin: auto;
vertical-align: middle;
}
/*<!-----------------------END OF WELCOME BANNER------------------------------------>*/

/*<!-----------------------REGISTER/LOGIN PAGE------------------------------------>*/

.login-container{ 
    margin:auto;
    border-style: solid;
    border-color: black;
}

.sign-up-row-header,
.sign-up-row {

    width: 90%;
    letter-spacing: 2px;
    font-size: inherit;
    font-weight: bold;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 0px;
    padding-right: 0px;
    margin: auto;
    text-align: center;
}

.col-sign-up {
    width: 50%;
    font-weight: bold;
    padding: 4px;
    margin: auto;
    text-align: center;
}

.sign-up-over-one {
    width: 100%;
    font-weight: inherit;
    padding: inherit;
    text-align: center;
}

.text-area {
    max-width: 100%;
}

.submit-btn {
    margin: auto;
    text-align: center;
}
/*<!-----------------------END OF REGISTER.LOGIN PAGE------------------------------------>*/

.lg-padding {
    padding: 16px;
}


.align-center {
    text-align: center;
    margin: auto;
}

.with-borders {
    border-style: solid;
    border-color: black;
}





.top-nav-wrapper {
    border-bottom: 1px solid black;
 }


/*<!-----------------------FOOTER------------------------------------>*/
.footer-head {
    font-weight: bold;
    padding: 5px;
    letter-spacing: 2px;
    color: var(--brown-darken-1);
}

.footer-container {
    background-color: #efebe9;
    text-align: center;
    margin: auto;
    color: var(--brown-darken-1);
    border-top: 1px solid black;
    
}


.footer-links li {
    display: inline-block;
    text-align: center;
    padding: 10px;
    color: var(--brown-darken-1);
}

.footer-links i {
    font-size: 180%;
    color: var(--brown-darken-1);
}

.header-links {
    color: var(--brown-darken-1);
    
}