/*@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");*/

/*---------- ROOT VARIABLES ----------*/
:root {

    /*---Font Colour---*/
    --brown-darken-1: #6d4c41;
}

.align-center {
    text-align: center;
    margin: auto;
}

/*<!-----------------------FOOTER------------------------------------>*/
.footer-head {
    font-weight: bold;
    padding: 5px;
    letter-spacing: 2px;
    color: var(--brown-darken-1);
}

.footer-container {
    background-color: #efebe9;
    text-align: center;
    margin: auto;
    color: var(--brown-darken-1);
}


.footer-links li {
    display: inline-block;
    text-align: center;
    padding: 10px;
    color: var(--brown-darken-1);
}

.footer-links i {
    font-size: 180%;
    color: var(--brown-darken-1);
}

.header-links {
    color: var(--brown-darken-1);
    
}