{% extends "base.html" %}
{% block content %}


{% if session.is_logged_in %}
<!--Started check for session BEFORE form so that the handle_leave_review 
        is never executed if the user is not logged in - another attempt at 
        defensive programming-->

<div class="container  align-center card-panel grey lighten-5">
    <div class="row input-row">       
            <h3 class="light-blue-text text-darken-4 center-align">Approvals</h3>
        </div>
    </div>



    
{% for approvals in approvals %}
<form action="{{ url_for('create_restaurant') }}" method="POST">
    <input type="hidden" id="restaurant_id" name="restaurant_id" value="{{approvals.approval_id }}">
    
    <button type="button" class="collapsible bold">Request for action: {{approvals.restaurant_name }}</button>
<div class="content ">
    
   
        <div class="container  input-container">
    
            <div class="row  align-center input-row">
                <div class="col  align-center label-col">
                    <label class="collapse-label" for="restaurant_name">
                        <h4 class="label">Restaurant Name</h4>
                    </label>
                </div>
                <div class="col  align-center input-col">
                    {{approvals.restaurant_name }}
                </div>
            </div>
        </div>

        <div class="row  align-center input-row">
            <div class="col  align-center label-col">
                <label class="collapse-label" for="first_cuisine">
                    <h4 class="label">Cuisine Type One</h4>
                </label>
            </div>
            <div class="col  align-center input-col">
                {{approvals.restaurant_cuisine_one }}
            </div>
        </div>

        <div class="row  align-center input-row">
            <div class="col  align-center label-col">
                <label class="collapse-label" for="second_cuisine">
                    <h4 class="label">Cuisine Type Two</h4>
                </label>
            </div>
            <div class="col  align-center input-col">
                {{approvals.restaurant_cuisine_two }}
            </div>
        </div>

        <div class="row  align-center input-row">
            <div class="col  align-center label-col">
                <label class="collapse-label" for="third_cuisine">
                    <h4 class="label">Cuisine Type Three</h4>
                </label>
            </div>
            <div class="col  align-center input-col">
                {{approvals.restaurant_cuisine_three }}
            </div>
        </div>

        <div class="row  align-center input-row">
            <div class="col  align-center label-col">
                <label class="collapse-label" for="delivery_available">
                    <h4 class="label">Delivery Available?</h4>
                </label>
            </div>
            <div class="col  align-center input-col">
                {{approvals.restaurant_delivery }}
            </div>
        </div>

        <div class="row  align-center input-row">
            <div class="col  align-center label-col">
                <label class="collapse-label" for="restaurant_week">
                    <h4 class="label">Sunderland Restaurant Week Participant?</h4>
                </label>
            </div>
            <div class="col  align-center input-col">
                {{approvals.restaurant_week }}
            </div>
        </div>
    
        <div class="row  align-center input-row">
            <div class="col  align-center label-col">
                <label class="collapse-label" for="first_address">
                    <h4 class="label">First Line of Address Name</h4>
                </label>
            </div>
            <div class="col  align-center input-col">
                {{approvals.restaurant_address_one }}
            </div>
        </div>
    
        <div class="row  align-center input-row">
            <div class="col  align-center label-col">
                <label class="collapse-label" for="second_address">
                    <h4 class="label">Second Line of Address</h4>
                </label>
            </div>
            <div class="col  align-center input-col">
                {{approvals.restaurant_address_two }}
            </div>
        </div>
    
        <div class="row  align-center input-row">
            <div class="col  align-center label-col">
                <label class="collapse-label" for="third_address">
                    <h4 class="label">Third Line of Address</h4>
                </label>
            </div>
            <div class="col  align-center input-col">
                {{approvals.restaurant_address_three }}
            </div>
        </div>
    
        <div class="row  align-center input-row">
            <div class="col  align-center label-col">
                <label class="collapse-label" for="fourth_address">
                    <h4 class="label">Fourth Line of Address</h4>
                </label>
            </div>
            <div class="col  align-center input-col">
                {{approvals.restaurant_address_four }}
            </div>
        </div>
    
        <div class="row  align-center input-row">
            <div class="col  align-center label-col">
                <label class="collapse-label" for="postcode">
                    <h4 class="label">Postcode</h4>
                </label>
            </div>
            <div class="col  align-center input-col">
                {{approvals.restaurant_address_postode }}
            </div>
        </div>
    
        <div class="row  align-center input-row">
            <div class="col  align-center label-col">
                <label class="collapse-label" for="thumbnail">
                    <h4 class="label">Thumbnail URL</h4>
                </label>
            </div>
            <div class="col  align-center input-col">
                {{approvals.restaurant_image_url }}
            </div>
        </div>
    
        <div class="row  align-center input-row">    
            <button type="submit" class="btn-large light-blue darken-1">Approve Request<i class="fas fa-edit right"></i>
            </button>
    
        </div>
    </div>
{% endfor %}
    </form>

             
              
              






<h3 class="light-blue-text text-darken-4 center-align">Edit Restaurants</h3>
{% for restaurants in restaurants %}
<form action="{{ url_for('edit_restaurant') }}?restaurant_id={{ restaurants.restaurant_id }}" method="POST">
    <input type="hidden" name="{{ restaurants.restaurant_id }}" id="{{ restaurants.restaurant_id }}" value="{{ restaurants.restaurant_id }}">

    <button type="button" class="collapsible">{{ restaurants.restaurant_name }}</button>
    <div class="content ">
        <div class="container  input-container">
            
            <div class="row  align-center input-row">
                <div class="col  align-center label-col">
                    <label class="collapse-label" for="edit_restaurant_name">
                        <h4 class="label">Restaurant Name</h4>
                    </label>
                </div>
                <div class="col  align-center input-col">
                    <input type="text" class="collapse-input" name="edit_restaurant_name" id="edit_restaurant_name"
                                    value="{{ restaurants.restaurant_name }}" placeholder="{{ restaurants.restaurant_name }}">
                    </div>
                </div>
            </div>

            <div class="row  align-center input-row">
                <div class="col  align-center label-col">
                    <label class="collapse-label" for="edit_address_one">
                        <h4 class="label">First Line of Address Name</h4>
                    </label>
                </div>
                <div class="col  align-center input-col">
                    <input type="text" class="collapse-input" name="edit_address_one" id="edit_address_one"
                        value="{{ restaurants.restaurant_address_one }}" placeholder="{{ restaurants.restaurant_address_one }}">
                </div>
            </div>

            <div class="row  align-center input-row">
                <div class="col  align-center label-col">
                    <label class="collapse-label" for="edit_address_two">
                        <h4 class="label">Second Line of Address</h4>
                    </label>
                </div>
                <div class="col  align-center input-col">
                    <input type="text" class="collapse-input" name="edit_address_two" id="edit_address_two"
                        value="{{ restaurants.restaurant_address_two }}" placeholder="{{ restaurants.restaurant_address_two }}">
                </div>
            </div>

            <div class="row  align-center input-row">
                <div class="col  align-center label-col">
                    <label class="collapse-label" for="edit_address_three">
                        <h4 class="label">Third Line of Address</h4>
                    </label>
                </div>
                <div class="col  align-center input-col">
                    <input type="text" class="collapse-input" name="edit_address_three" id="edit_address_three"
                        value="{{ restaurants.restaurant_address_three }}" placeholder="{{ restaurants.restaurant_address_three }}">
                </div>
            </div>

            <div class="row  align-center input-row">
                <div class="col  align-center label-col">
                    <label class="collapse-label" for="edit_address_four">
                        <h4 class="label">Fourth Line of Address</h4>
                    </label>
                </div>
                <div class="col  align-center input-col">
                    <input type="text" class="collapse-input" name="edit_address_four" id="edit_address_four"
                        value="{{ restaurants.restaurant_address_four }}" placeholder="{{ restaurants.restaurant_address_four }}">
                </div>
            </div>

            <div class="row  align-center input-row">
                <div class="col  align-center label-col">
                    <label class="collapse-label" for="edit_postcode">
                        <h4 class="label">Postcode</h4>
                    </label>
                </div>
                <div class="col  align-center input-col">
                    <input type="text" class="collapse-input" name="edit_postcode" id="edit_postcode"
                        value="{{ restaurants.restaurant_address_postcode }}" placeholder="{{ restaurants.restaurant_address_postcode }}">
                </div>
            </div>

            <div class="row  align-center input-row">
                <div class="col  align-center label-col">
                    <label class="collapse-label" for="edit_thumbnail">
                        <h4 class="label">Thumbnail URL</h4>
                    </label>
                </div>
                <div class="col  align-center input-col">
                    <input type="text" class="collapse-input" name="edit_thumbnail" id="edit_thumbnail"
                        value="{{ restaurants.restaurant_image_url }}"
                        placeholder="{{ restaurants.restaurant_image_url }}">
                </div>
            </div>

            <div class="row  align-center input-row">                
                
                    <button type="submit" class="btn-large light-blue darken-1">Edit Restaurant<i class="fas fa-edit right"></i>
                    </button>
                
            </div>
        </div>
    </form>           
                   
                

{% endfor %}
{% endif %}
{% endblock %}