{% extends "base.html" %} {% block content %}

<!--USER FORM FOR GET INVOLVED-->
<section class="login">
    <form method="POST" action="{{ url_for('admin_login') }}">
        <div class="container align-center login-container ">
            <div class="row sign-up-row  align-center ">
                <div class="col-sign-up align-center lg-padding ">
                    <h3>ADMIN PORTAL</h3>
                </div>
            </div>
            <div class="row sign-up-row  align-center ">
                <div class="col-sign-up  align-right  ">
                    <label for="email">Email Address:</label>
                </div>
                <div class="col-sign-up  align-left ">
                    <input type="email" class="sign-up" name="email_login" id="email_login"
                        placeholder="Enter your email address" required>
                </div>
            </div>
            <div class="row sign-up-row  align-center  ">
                <div class="col-sign-up align-right lg-padding ">
                    <label for="name">Password:</label>
                </div>
                <div class="col-sign-up  align-left ">
                    <input type="password" class="sign-up" name="password_login" id="password_login"
                        placeholder="Enter your password" required>
                </div>
            </div>
            <div class="row sign-up-row  align-center  ">
                <div class="col-sign-up align-right lg-padding ">
                    <label for="name">Admin Password:</label>
                </div>
                <div class="col-sign-up  align-left ">
                    <input type="admin_password" class="sign-up" name="admin_password" id="admin_password"
                        placeholder="Enter your admin password" required>
                </div>
            </div>
                        <div class="row sign-up-row  align-center  ">
                <div class="col-sign-up align-right lg-padding ">
                    <label for="name">Password:</label>
                </div>
                <div class="col-sign-up  align-left ">
                    <input type="password" class="sign-up" name="password_login" id="password_login"
                        placeholder="Enter your password" required>
                </div>
            </div>

            <div class="row sign-up-row  align-center">
                <div class="col-sign-up align-center ">
                    <input type="submit" class="submit-btn" name="submit_login" id="submit_login" value="Sign In">
                </div>
            </div>
        </div>
    </form>
</section>










{% endblock %}