{% extends "base.html" %}
{% block content %}



<div class=" align-center card-panel grey lighten-5 contact-us-container">
    <div class="row">
        <div class="col card-panel grey lighten-5">
            
            <form action="{{ url_for('become_legend') }}" method="POST">
                
                <div class="row ">
                    <div class="col">
                        <h3>Contact Us</h3>
                    </div>
                </div>

                <div class=" align-center card-panel grey lighten-5 contact-us-container">
                    <div class="row ">
                        
                        <div class="row ">
                            <div class="col s9 m9 l9 xl9   leave-review-label-div">
                                <label for="restaurant_name" class="default-text-styling">
                                    Restaurant Name
                                </label>
                            </div>
                            <div class="col s3 m3 l3 xl3   leave-review-select-div">
                                <input type="text" id="restaurant_name" name="restaurant_name"
                                    value="Content">
                            </div>
                        </div>

                        <div class="row ">
                            <div class="col s9 m9 l9 xl9   leave-review-label-div">
                                <label for="first_cuisine" class="default-text-styling">
                                    Cuisine Type One
                                </label>
                            </div>
                            <div class="col s3 m3 l3 xl3   leave-review-select-div">
                                <input type="text" id="first_cuisine" name="first_cuisine" value="first_cuisine">
                            </div>
                        </div>

                        <div class="row ">
                            <div class="col s9 m9 l9 xl9   leave-review-label-div">
                                <label for="second_cuisine" class="default-text-styling">
                                    Cuisine Type Two
                            </label>
                            </div>
                            <div class="col s3 m3 l3 xl3   leave-review-select-div">
                                <input type="text" id="second_cuisine" name="second_cuisine" value="second_cuisine">
                            </div>
                        </div>

                        <div class="row ">
                            <div class="col s9 m9 l9 xl9   leave-review-label-div">
                                <label for="third_cuisine" class="default-text-styling">
                                    Cuisine Type Three
                                </label>
                            </div>
                            <div class="col s3 m3 l3 xl3   leave-review-select-div">
                                <input type="text" id="third_cuisine" name="third_cuisine" value="third_cuisine">
                            </div>
                        </div>

                        <div class="row ">
                            <div class="col s9 m9 l9 xl9   leave-review-label-div">
                                <label for="delivery_available" class="default-text-styling">
                                    Delivery Available?
                                </label>
                            </div>
                            <div class="col s3 m3 l3 xl3   leave-review-select-div">
                                <input type="text" id="delivery_available" name="delivery_available" value="delivery_available">
                            </div>
                        </div>

                        <div class="row ">
                            <div class="col s9 m9 l9 xl9   leave-review-label-div">
                                <label for="restaurant_week" class="default-text-styling">
                                    Sunderland Restaurant Week Participant?
                                </label>
                            </div>
                            <div class="col s3 m3 l3 xl3   leave-review-select-div">
                                <input type="text" id="restaurant_week" name="restaurant_week" value="restaurant_week">
                            </div>
                        </div>

                        <div class="row ">
                            <div class="col s9 m9 l9 xl9   leave-review-label-div">
                                <label for="first_address" class="default-text-styling">
                                    First Line of Address
                                </label>
                            </div>
                            <div class="col s3 m3 l3 xl3   leave-review-select-div">
                                <input type="text" id="first_address" name="first_address" value="first_address">
                            </div>
                        </div>

                        <div class="row ">
                            <div class="col s9 m9 l9 xl9   leave-review-label-div">
                                <label for="second_address" class="default-text-styling">
                                    Second Line of Address
                                </label>
                            </div>
                            <div class="col s3 m3 l3 xl3   leave-review-select-div">
                                <input type="text" id="second_address" name="second_address" value="second_address">
                            </div>
                        </div>

                        <div class="row ">
                            <div class="col s9 m9 l9 xl9   leave-review-label-div">
                                <label for="third_address" class="default-text-styling">
                                    Third Line of Address
                                </label>
                            </div>
                            <div class="col s3 m3 l3 xl3   leave-review-select-div">
                                <input type="text" id="third_address" name="third_address" value="third_address">
                            </div>
                        </div>

                        <div class="row ">
                            <div class="col s9 m9 l9 xl9   leave-review-label-div">
                                <label for="fourth_address" class="default-text-styling">
                                    Fourth Line of Address
                                </label>
                            </div>
                            <div class="col s3 m3 l3 xl3   leave-review-select-div">
                                <input type="text" id="fourth_address" name="fourth_address" value="fourth_address">
                            </div>
                        </div>

                        <div class="row ">
                            <div class="col s9 m9 l9 xl9   leave-review-label-div">
                                <label for="postcode" class="default-text-styling">
                                    Postcode
                                </label>
                            </div>
                            <div class="col s3 m3 l3 xl3   leave-review-select-div">
                                <input type="text" id="postcode" name="postcode" value="postcode">
                            </div>
                        </div>

                        <div class="row ">
                            <div class="col s9 m9 l9 xl9   leave-review-label-div">
                                <label for="thumbnail" class="default-text-styling">
                                    Thumbnail URL
                                </label>
                            </div>
                            <div class="col s3 m3 l3 xl3   leave-review-select-div">
                                <input type="text" id="thumbnail" name="thumbnail" value="thumbnail">
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col s12 center-align">
                                <button type="submit" class="btn-large light-blue darken-1">Submit Review<i
                                    class="fas fa-edit right"></i>
                                </button>
                            </div>
                        </div>
            </form>
                   
    </div>
</div>
</div>
{% endblock %}