{% extends "base.html" %}
{% block content %}
<div class="container with-borders align-center card-panel grey lighten-5">

    <div class="row with-borders">
        <!--<div class="col with-borders">-->
        <div class="row card-panel grey lighten-5">
        {% for reviews in reviews %}
        <form action="{{ url_for('handle_edit_review', review_id=reviews.review_id) }}" method="POST">
            <input type="hidden" id={{ reviews.review_id }} name={{ reviews.review_id }} value={{ reviews.review_id }}>
            <div class="row ">
                    <div class="col"><h4><label for="edit_review_title">Review Title {{ reviews.review_id }}</label></h4></div>
                    <div class="col"><input type="text" name="edit_review_title" id="edit_review_title" value="{{ reviews.written_review_title }}"></div>
            </div>
            <div class="row ">
                    <div class="col"><h4><label for="edit_written_review">Written Review {{ reviews.review_id }}</label></h4></div>
                    <div class="col"><input type="text" name="edit_written_review" id="edit_written_review" value="{{ reviews.written_review }}"></div>
            </div>
            <div class="row ">
                    <div class="col"><h4><label for="edit_taste_stars">How would you rate the taste?{{ reviews.review_id }}</label></h4></div>
                    <div class="col"><input type="text" name="edit_taste_stars" id="edit_taste_stars" value="{{ reviews.taste_stars }}"></div>
            </div>
            <div class="row ">
                    <div class="col"><h4><label for="edit_presentation_stars">How would you rate the presentation?{{ reviews.review_id }}</label></h4></div>
                    <div class="col"><input type="text" name="edit_presentation_stars" id="edit_presentation_stars" value="{{ reviews.presentation_stars }}"></div>
            </div>
            <div class="row ">
                    <div class="col"><h4><label for="edit_friendliness_stars">How would you rate the friendliness?{{ reviews.review_id }}</label></h4></div>
                    <div class="col"><input type="text" name="edit_friendliness_stars" id="edit_friendliness_stars" value="{{ reviews.friendliness_stars }}"></div>
            </div>
            <div class="row ">
                    <div class="col"><h4><label for="edit_price_stars">How would you rate the price?{{ reviews.review_id }}</label></h4></div>
                    <div class="col"><input type="text" name="edit_price_stars" id="edit_price_stars" value="{{ reviews.price_stars }}"></div>
            </div>
            <div class="row ">
                    <div class="col"><h4><label for="edit_ambience_stars">How would you rate the ambience?{{ reviews.review_id }}</label></h4></div>
                    <div class="col"><input type="text" name="edit_ambience_stars" id="edit_ambience_stars" value="{{ reviews.ambience_stars }}"></div>
            </div>





                <!--<div class="row with-borders review-stars-row ">
                    <div class="col with-borders review-stars-div">
                        <h4 class="review-heading">Taste:</h4>
                    </div>
                    <div class="col review-stars-div">
                        <span><i class="fa-regular fa-star fa-2xl" style="color: #ede607;"></i></span>
                        <span><i class="fa-regular fa-star fa-2xl" style="color: #ede607;"></i></span>
                        <span><i class="fa-regular fa-star fa-2xl" style="color: #ede607;"></i></span>
                        <span><i class="fa-regular fa-star fa-2xl" style="color: #ede607;"></i></span>
                        <span><i class="fa-regular fa-star fa-2xl" style="color: #ede607;"></i></span>
                    </div>
                </div>-->
                
                <div class="row">
                    <div class="col s12 center-align">
                        <button type="submit" class="btn-large light-blue darken-1">Submit Edited Review<i
                                class="fas fa-edit right"></i>
                        </button>
                    </div>
                </div>
        </form>
        <form action="{{ url_for('delete_review', review_id=reviews.review_id) }}" method="POST">
        
                <div class="row">
                    <div class="col s12 center-align">
                        <button type="submit" class="btn-large light-blue darken-1">Delete Review<i
                                class="fas fa-edit right"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
        {% endfor %}
        <!--</div>-->
    </div>
</div>



</div>
{% endblock %}