{% extends "base.html" %}
{% block content %}


    <div class="container align-center  ">
        <div class="row ">
            <div class="col  align-center s12 m12 l12 xl12">
                <h3 class="larger-than-default-text bold">Edit Review</h3>
            </div>
        </div>
        <div class="row">
            <button type="button" class="collapsible bold">How does it work?</button>
            <div class="content" id="collapsible-intro-content">
                <div class=" align-center intro-container ">
                    <div class="row ">
                        <div class="col s12 m12 l12 xl12   ">
                            <p class="show-more-para-styling intro-text-styling">
                                When you leave a review for a restaurant, you don't just
                                leave a review - you leave an experience. Sharing your
                                experiences with others is at the heart of what we do
                                here at Local Legends.
                              </p>
                              <p class="show-more-para-styling intro-text-styling">
                                Leaving an experience is simple. Simply choose the
                                restaurant you want from the Restaurants list. You can
                                access this in the navigation banner at the top of the
                                screen.
                              </p>
                              <p class="show-more-para-styling intro-text-styling">
                                For details on the restaurant, click 'Show More'. At the
                                bottom of the restaurant details, you can select 'Leave
                                a Review'.
                              </p>
                              <p class="show-more-para-styling intro-text-styling">
                                The first thing we will ask when you share an experience
                                is to summarize your experience in a few words. Then you
                                can rate your experience.
                              </p>
                              <p class="show-more-para-styling intro-text-styling">
                                We have broken down each experience to make it easy for
                                you. These are:
                              </p>
        
                              <p class="show-more-para-styling intro-text-styling">
                                - Taste of your food (in general)
                              </p>
                              <p class="show-more-para-styling intro-text-styling">
                                - Presentation of your dish (how it looked)
                              </p>
                              <p class="show-more-para-styling intro-text-styling">
                                - Friendliness of the staff (how you were treated or
                                valued)
                              </p>
                              <p class="show-more-para-styling intro-text-styling">
                                - Ambience of the restaurant (the atmosphere, lighting,
                                music, general feel for the restaurant)
                              </p>
                              <p class="show-more-para-styling intro-text-styling">
                                - Price of your meal (was it expensive, cheap, worth the
                                money)
                              </p>
                              <p class="show-more-para-styling intro-text-styling">
                                Each part of the experience is rated from 1 (being poor)
                                to 5 (being excellent).
                              </p>
                              <p class="show-more-para-styling intro-text-styling">
                                Finally, we ask you to tell us a little more about your
                                experience.
                              </p>
                              <p class="show-more-para-styling intro-text-styling">
                                Once you've submitted your experience, we calculate your
                                overall experience of the Taste, Presentation,
                                Friendliness, Ambience, and Price, and give an overall
                                rating.
                              </p>
                              <p class="show-more-para-styling intro-text-styling">
                                Lastly, the restaurant's ratings are then recalculated
                                to factor in your own experience
                              </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% if not session.is_logged_in %}
    <div class="container align-center card-panel grey lighten-5 ">
        <div class="row ">
            <div class="col  align-center s12 m12 l12 xl12">
                <h4 class="larger-than-default-text bold ">
                    You must sign in before you can leave a review. <a href="{{ url_for('login') }}">Click here
                        to sign in</a>
                </h4>
            </div>
        </div>
    </div>
    {% else %}
    {% for reviews in reviews %}
    <form action="{{ url_for('handle_edit_review', review_id=reviews.review_id) }}" method="POST">
        <input type="hidden" name="restaurant_id" id="restaurant_id" value="{{reviews.restaurant_id }}">
            <div class="container align-center card-panel grey lighten-5 ">
                <div class="row ">
                    <div class="col s12 m6 l6 xl6 leave-review-select-div ">
                        <label class="default-text-styling" for="written_review_title">
                            In a few words, how was your experience?
                        </label>
                    </div>
                    <div class="col s12 m6 l6 xl6 leave-review-select-div ">
                        <input type="text" id="written_review_title" name="written_review_title" value="{{reviews.written_review_title }}">
                    </div>
                </div>
                <div class="row ">
                    <div class="col s12 m6 l6 xl6 leave-review-select-div ">
                        <label class="default-text-styling" for="select_taste">
                            How would you rate the taste?
                        </label>
                    </div>
                    <div class="col s12 m6 l6 xl6 leave-review-select-div ">
                        <select name="select_taste" id="select_taste" class="leave-review-select">
                            <option value=1 {% if reviews.taste_stars==1 %}selected{% endif %}>1</option>
                            <option value=2 {% if reviews.taste_stars==2 %}selected{% endif %}>2</option>
                            <option value=3 {% if reviews.taste_stars==3 %}selected{% endif %}>3</option>
                            <option value=4 {% if reviews.taste_stars==4 %}selected{% endif %}>4</option>
                            <option value=5 {% if reviews.taste_stars==5 %}selected{% endif %}>5</option>
                        </select>
                    </div>
                </div>
                <div class="row ">
                    <div class="col s12 m6 l6 xl6 leave-review-select-div ">
                        <label class="default-text-styling" for="select_presentation">
                            How would you rate the presentation?
                        </label>
                    </div>
                    <div class="col s12 m6 l6 xl6 leave-review-select-div ">
                        <select name="select_presentation" id="select_presentation" class="leave-review-select">
                            <option value=1 {% if reviews.presentation_stars==1 %}selected{% endif %}>1</option>
                            <option value=2 {% if reviews.presentation_stars==2 %}selected{% endif %}>2</option>
                            <option value=3 {% if reviews.presentation_stars==3 %}selected{% endif %}>3</option>
                            <option value=4 {% if reviews.presentation_stars==4 %}selected{% endif %}>4</option>
                            <option value=5 {% if reviews.presentation_stars==5 %}selected{% endif %}>5</option>
                        </select>
                    </div>
                </div>
                <div class="row ">
                    <div class="col s12 m6 l6 xl6 leave-review-select-div ">
                        <label class="default-text-styling" for="select_friendliness">
                            How would you rate the friendliness?
                        </label>
                    </div>
                    <div class="col s12 m6 l6 xl6 leave-review-select-div ">
                        <select name="select_friendliness" id="select_friendliness" class="leave-review-select">
                            <option value=1 {% if reviews.friendliness_stars==1 %}selected{% endif %}>1</option>
                            <option value=2 {% if reviews.friendliness_stars==2 %}selected{% endif %}>2</option>
                            <option value=3 {% if reviews.friendliness_stars==3 %}selected{% endif %}>3</option>
                            <option value=4 {% if reviews.friendliness_stars==4 %}selected{% endif %}>4</option>
                            <option value=5 {% if reviews.friendliness_stars==5 %}selected{% endif %}>5</option>
                        </select>
                    </div>
                </div>
                <div class="row ">
                    <div class="col s12 m6 l6 xl6 leave-review-select-div ">
                        <label class="default-text-styling" for="select_ambience">
                            How would you rate the ambience?
                        </label>
                    </div>
                    <div class="col s12 m6 l6 xl6 leave-review-select-div ">
                        <select name="select_ambience" id="select_ambience" class="leave-review-select">
                            <option value=1 {% if reviews.ambience_stars==1 %}selected{% endif %}>1</option>
                            <option value=2 {% if reviews.ambience_stars==2 %}selected{% endif %}>2</option>
                            <option value=3 {% if reviews.ambience_stars==3 %}selected{% endif %}>3</option>
                            <option value=4 {% if reviews.ambience_stars==4 %}selected{% endif %}>4</option>
                            <option value=5 {% if reviews.ambience_stars==5 %}selected{% endif %}>5</option>
                        </select>
                    </div>
                </div>
                <div class="row ">
                    <div class="col s12 m6 l6 xl6 leave-review-select-div ">
                        <label class="default-text-styling" for="select_price">
                            How would you rate the price
                        </label>
                    </div>
                    <div class="col s12 m6 l6 xl6 leave-review-select-div ">
                        <select name="select_price" id="select_price" class="leave-review-select">
                            <option value=1 {% if reviews.price_stars==1 %}selected{% endif %}>1</option>
                            <option value=2 {% if reviews.price_stars==2 %}selected{% endif %}>2</option>
                            <option value=3 {% if reviews.price_stars==3 %}selected{% endif %}>3</option>
                            <option value=4 {% if reviews.price_stars==4 %}selected{% endif %}>4</option>
                            <option value=5 {% if reviews.price_stars==5 %}selected{% endif %}>5</option>
                        </select>
                    </div>
                </div>
                <div class="row ">
                    <div class="col s12 m12 l12 xl12 leave-review-select-div ">
                        <label class="default-text-styling" for="written_review">
                            Please tell us more about your visit
                        </label>
                    </div>
                </div>
                <div class="row ">
                    <div class="col s12 m12 l12 xl12 leave-review-textarea  align-center">
                        <textarea name="written_review" id="written_review" rows="10" cols="50">{{reviews.written_review }}</textarea>
                    </div>
                </div>
                <div class="row ">
                    <div class="col s12 m12 l12 xl12 " id="edit-review-btn-div">
                        <button type="submit" class="see-reviews card-panel grey lighten-5">Submit Edited Review</button>
                    </div>
                </div>
            </div>        
    </form>  





<form action="{{ url_for('delete_review', review_id=reviews.review_id) }}" method="POST">    
        <input type="hidden" name="review_id" id="review_id" value="{{reviews.review_id }}">
            <div class="row">
                <div class="col s12 m12 l12 xl12 " id="leave-review-btn-div">
                    <button type="submit" class="see-reviews card-panel grey lighten-5">Delete Review</button>
                </div>
            </div>
            <div class="row">
                <div class="col s12 align-center bold italic">
                    Warning: Deleting a review is permenant. It cannot be undone. The effect your review had on the restaurant ratings will also permenantly change
                </div>
            </div>    
</form>
{% endfor %}
{% endif %}
{% endblock %}