{% extends "base.html" %}
{% block content %}

<form method="POST" action="{{ url_for('handle_hash') }}">
    <div class=" align-center contact-us-container ">
        <div class="row  align-center">
            <div class="col s12 m12 l12 xl12 card-panel grey lighten-5  align-center">
                <div class="row ">
                    <div class="col align-center  s12 m12 l12 xl12">
                        <h1 class="title-font">Hash Password</h1>
                    </div>
                </div>
                <div class=" align-center card-panel grey lighten-5 register-container ">
                    
                    <div class="row ">
                        <div class="col s12 m12 l12 xl6   leave-review-label-div align-left register-col">
                            <label for="email" class="default-text-styling align-left register-col">
                                * Enter your temporary Admin Password
                            </label>
                        </div>
                        <div class="col s12 m12 l12 xl6  leave-review-select-div align-left register-col">
                            <input type="password" class="sign-up" name="password_register" id="password_register"  required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12 center-align">
                            <button type="submit" class="card-panel grey lighten-5">Hash Password</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>  </div>  
</form>
{% endblock %}