<
{% extends "base.html" %}
{% block content %}

<div class="container" id="get-started-header">
    <div class="row">
        <div class="col with-borders align-center">Restaurants you may like</div>
    </div>
    <div class="row">
        <div class="col s12 m6 l3 with-borders">Restaurant Title Placeholder</div>
        <div class="col s12 m6 l3 with-borders">Restaurant Title Placeholder</div>
        <div class="col s12 m6 l3 with-borders">Restaurant Title Placeholder</div>
        <div class="col s12 m6 l3 with-borders">Restaurant Title Placeholder</div>
    </div>
    <div class="row">
        <div class="col s12 m6 l3 with-borders">Image Placeholder</div>
        <div class="col s12 m6 l3 with-borders">Image Placeholder</div>
        <div class="col s12 m6 l3 with-borders">Image Placeholder</div>
        <div class="col s12 m6 l3 with-borders">Image Placeholder</div>
    </div>
    <div class="row">
        <div class="col s12 m6 l3 with-borders">Description Placeholder</div>
        <div class="col s12 m6 l3 with-borders">Description Placeholder</div>
        <div class="col s12 m6 l3 with-borders">Description Placeholder</div>
        <div class="col s12 m6 l3 with-borders">Description Placeholder</div>
    </div>
    <div class="row">
        <a href="register.html"><div class="col s12 m6 l3 with-borders"><input type="submit" id="placeholder" name="placeholder" value="placeholder"></div></a>
        <div class="col s12 m6 l3 with-borders"><input type="submit" id="placeholder" name="placeholder" value="placeholder"></div>
        <div class="col s12 m6 l3 with-borders"><input type="submit" id="placeholder" name="placeholder" value="placeholder"></div>
        <div class="col s12 m6 l3 with-borders"><input type="submit" id="placeholder" name="placeholder" value="placeholder"></div>
    </div>

</div>








{% endblock %}