{% extends "base.html" %} {% block content %}

<!--USER FORM FOR GET INVOLVED-->
<section class="change_password">
    <form action="{{ url_for('profile') }}"">
        <div class="container align-center login-container ">
            <div class="row sign-up-row  align-center ">
                <div class="col-sign-up align-center lg-padding ">
                    <h3>Profile</h3>
                </div>
            </div>
           
            <div class="row sign-up-row  align-center  ">
                <div class="col-sign-up align-right lg-padding ">
                    <label for="name">Change Password:</label>
                </div>
                <div class="col-sign-up  align-left ">
                    <input type="password" class="sign-up" name="password_change" id="password_change"
                        placeholder="Enter a new password" required>
                </div>
                <div class="col-sign-up  align-left ">
                    <input type="password" class="sign-up" name="confirm_password_change" id="confirm_password_change"
                        placeholder="Confirm new password" required>
                </div>
            </div>

            <div class="row sign-up-row  align-center">
                <div class="col-sign-up align-center ">
                    <input type="submit" class="submit-btn" name="submit_change_password" id="submit_change_password" value="Change Password">
                </div>
            </div>
        </div>
    </form>
</section>

<!--USER FORM FOR GET INVOLVED-->
<section class="delete">
    <form action="index.html">
        <div class="container align-center login-container">
            <div class="row sign-up-row  align-center ">
                <div class="col-sign-up align-center lg-padding">
                    <h3>Delete your account</h3>
                </div>
            </div>
           
            <div class="row sign-up-row  align-center">
                <div class="col-sign-up align-right lg-padding">
                    <label for="name">To confirm, please enter your password:</label>
                </div>
                <div class="col-sign-up  align-left">
                    <input type="password" class="sign-up" name="password_delete" id="password_delete"
                        placeholder="Enter your password" required>
                </div>
            </div>
            <div class="row sign-up-row align-center">
                <div class="col sign-up-over-one align-center ">
                    <input type="checkbox" class="sign-up" name="confirm_delete" id="confirm_delete" required>
                    I want to delete my account:

                </div>
            </div>
            <div class="row sign-up-row align-center">
                <div class="col-sign-up  align-center">
                    <input type="submit" class="submit-btn" name="submit_delete" id="submit_delete"
                        value="Delete Account">
                </div>
            </div>
        </div>
    </form>
</section>








{% endblock %}