< {% extends "base.html" %} {% block content %} 

<div class="container align-center" id="login-container">
    <div class="row">
        <div class="col with-borders align-center">Login</div>
    </div>
    <div class="row">
        <div class="col s12 m6 l3 with-borders">Email Address:</div>
        <div class="col s12 m6 l3 with-borders">
            <input type="email" id="email" name="email" class="login-email" placeholder="enter email address" required>  
        </div>      
    </div>
    <div class="row">
        <div class="col s12 m6 l3 with-borders">Password:</div>
        <div class="col s12 m6 l3 with-borders">
            <input type="password" id="password" name="password" class="login-password" placeholder="enter password" required>
        </div>
    </div>
    <div class="row">
        <div class="col s12 m6 l3 with-borders align-center">
            <input type="submit" id="login" name="login" class="login-btn" value="Login" required>
        </div>
    </div>
    <div class="row">
        <div class="col s12 m6 l3 with-borders align-center"><a href="forgot-password">Forgot Password</a></div>
    </div>
</div>

    







    {% endblock %}