{% extends "base.html" %} {% block content %}
<!--This page displays all approved restaurants-->
<section class="title-section">
	<div class="container title-container">
		<div class="row title-row">
			<div class="col s12 m12 l12 xl12 title-col">
				<h1 class="title-font">Discover restaurants in Sunderland</h1>
			</div>
		</div>
		<div class="row title-row">
			<div class="col s12 m12 l12 xl12 title-col sm-padding"></div>
		</div>
	</div>
</section>
{% for restaurants in restaurants %}
<!--Restaurant Details-->
<div class="container s12 m12 l12 xl6 left-panel-container-thumb">
	<div class="row">
		<div class="col align-center s12 m12 l6 xl6">
			<img
				alt="An image unique to this {{ restaurants.restaurant_name }}"
				class="hero-image-thumb"
				src="{{ restaurants.restaurant_image_url }}">
		</div>
		<div
			class="thumb-col-headingcol align-center s12 m12 l6 xl6 bold larger-than-default-text">
			{{ restaurants.restaurant_name }}
		</div>
		<input
			type="hidden"
			name="restaurant_id"
			id="restaurant_id"
			value="{{restaurants.restaurant_id }}">
		<div
			class="thumb-col-stars col s12 m12 l6 xl6 default-text-size align-center-on-small-vw">
			{% if restaurants.restaurant_average_overall_stars %} Average {{
			restaurants.restaurant_average_overall_stars }} stars out of 5 (<a
				href="{{ url_for('restaurant_profile', restaurant_id=restaurants.restaurant_id) }}"
				>{{ restaurants.restaurant_review_count }} reviews in total</a
			>) {% else %} This restaurant has no reviews {% endif %}
		</div>
		<div
			class="col s12 m12 l6 xl6 default-text-size align-center-on-small-vw thumb-col-keyword">
			{{ restaurants.restaurant_cuisine_one }} - {{
			restaurants.restaurant_cuisine_two }} - {{
			restaurants.restaurant_cuisine_three }}
		</div>
		<div
			class="col s12 m12 l6 xl6 default-text-size align-center-on-small-vw thumb-col-delivery">
			{% if restaurants.restaurant_delivery == True %} Delivery Available
			{% else %} Delivery Not Available {% endif %}
		</div>
		<div
			class="col s12 m12 l6 xl6 default-text-size align-center-on-small-vw thumb-col-restaurant-week">
			<a
				target="_blank"
				href="https://www.sunderlandbid.co.uk/events/sunderland-restaurant-week-3">
				{% if restaurants.restaurant_week == True %} Member of
				Sunderland Restaurant Week {% else %} Not a member of Sunderland
				Restaurant Week {% endif %}
			</a>
		</div>
	</div>
</div>
<!--More restaurant details-->
<div class="container button-container">
	<div class="row">
		<div class="col s12 m12 l12 xl12">
			<button type="button" class="collapsible">See more</button>
			<div class="content">
				<div class="restaurant-details-container lg-padding">
					<div class="row">
						<div
							class="col lg-padding restaurant-details-container align-left">
							<!--THIS IS THE START OF THE FIRST HALF OF THE CONTAINER-->
							<div
								class="col s12 m12 l12 xl6 left-panel-container">
								<div
									class="col align-center s12 hero-image-div">
									<img
										alt="An image unique to this {{ restaurants.restaurant_name }}"
										class="hero-image"
										src="{{ restaurants.restaurant_image_url }}">
								</div>
								<div class="col s2 m2 l2 xl2"></div>
								<div
									class="col s8 m8 l8 xl8 stars-div card-panel">
									<div
										class="row restaurant-stars-display-row">
										<div
											class="col bold s12 s12 m6 l6 xl6 restaurant-stars-display-col default-text-size align-center-on-small-vw">
											Overall
										</div>
										<div
											class="col s12 s12 m6 l6 xl6 restaurant-stars-display-col default-text-size align-center-on-small-vw">
											{{
											restaurants.restaurant_average_overall_stars
											}}
										</div>
									</div>
									<div class="row">
										<div
											class="col bold s12 s12 m6 l6 xl6 restaurant-stars-display-col default-text-size align-center-on-small-vw">
											Taste
										</div>
										<div
											class="col s12 s12 m6 l6 xl6 restaurant-stars-display-col default-text-size align-center-on-small-vw">
											{{
											restaurants.restaurant_average_taste_stars
											}}
										</div>
									</div>
									<div
										class="row row display-table-row-border">
										<div
											class="col bold s12 s12 m6 l6 xl6 restaurant-stars-display-col default-text-size align-center-on-small-vw">
											Presentation
										</div>
										<div
											class="col s12 s12 m6 l6 xl6 restaurant-stars-display-col default-text-size align-center-on-small-vw">
											{{
											restaurants.restaurant_average_presentation_stars
											}}
										</div>
									</div>
									<div class="row">
										<div
											class="col bold s12 s12 m6 l6 xl6 restaurant-stars-display-col default-text-size align-center-on-small-vw">
											Friendliness
										</div>
										<div
											class="col s12 s12 m6 l6 xl6 restaurant-stars-display-col default-text-size align-center-on-small-vw">
											{{
											restaurants.restaurant_average_friendliness_stars
											}}
										</div>
									</div>
									<div class="row">
										<div
											class="col bold s12 s12 m6 l6 xl6 restaurant-stars-display-col default-text-size align-center-on-small-vw">
											Price
										</div>
										<div
											class="col s12 s12 m6 l6 xl6 restaurant-stars-display-col default-text-size align-center-on-small-vw">
											{{
											restaurants.restaurant_average_price_stars
											}}
										</div>
									</div>
									<div class="row">
										<div
											class="col bold s12 s12 m6 l6 xl6 restaurant-stars-display-col default-text-size align-center-on-small-vw">
											Ambience
										</div>
										<div
											class="col s12 s12 m6 l6 xl6 restaurant-stars-display-col default-text-size align-center-on-small-vw">
											{{
											restaurants.restaurant_average_ambience_stars
											}}
										</div>
									</div>
								</div>
								<div class="col s2 m2 l2 xl2"></div>
							</div>
							<div
								class="col s12 m12 l12 xl6 left-panel-container align-left">
								<div class="col align-center s12">
									<h2 class="thumb-col-heading-font">
										Restaurant Details
									</h2>
								</div>

								<div
									class="col s10 m10 l10 xl10 stars-div card-panel">
									<div
										class="row restaurant-stars-display-row">
										<div
											class="col bold s12 s12 m6 l6 xl6 restaurant-stars-display-col default-text-size align-center-on-small-vw">
											Name
										</div>
										<div
											class="col s12 s12 m6 l6 xl6 restaurant-stars-display-col default-text-size align-center-on-small-vw">
											{{ restaurants.restaurant_name }}
										</div>
									</div>
									<div
										class="row row display-table-row-border">
										<div
											class="col bold s12 s12 m6 l6 xl6 restaurant-stars-display-col default-text-size align-center-on-small-vw">
											First line of address
										</div>
										<div
											class="col s12 s12 m6 l6 xl6 restaurant-stars-display-col default-text-size align-center-on-small-vw">
											{{
											restaurants.restaurant_address_one
											}}
										</div>
									</div>
									<div class="row">
										<div
											class="col bold s12 s12 m6 l6 xl6 restaurant-stars-display-col default-text-size align-center-on-small-vw">
											Second line of address
										</div>
										<div
											class="col s12 s12 m6 l6 xl6 restaurant-stars-display-col default-text-size align-center-on-small-vw">
											{{
											restaurants.restaurant_address_two
											}}
										</div>
									</div>
									<div class="row">
										<div
											class="col bold s12 s12 m6 l6 xl6 restaurant-stars-display-col default-text-size align-center-on-small-vw">
											Third line of address
										</div>
										<div
											class="col s12 s12 m6 l6 xl6 restaurant-stars-display-col default-text-size align-center-on-small-vw">
											{% if
											restaurants.restaurant_address_three
											%} {{
											restaurants.restaurant_address_three
											}} {% else %} N/A {% endif %}
										</div>
									</div>
									<div class="row">
										<div
											class="col bold s12 s12 m6 l6 xl6 restaurant-stars-display-col default-text-size align-center-on-small-vw">
											Fourth line of address
										</div>
										<div
											class="col s12 s12 m6 l6 xl6 restaurant-stars-display-col default-text-size align-center-on-small-vw">
											{% if
											restaurants.restaurant_address_four
											%} {{
											restaurants.restaurant_address_four
											}} {% else %} N/A {% endif %}
										</div>
									</div>
									<div class="row">
										<div
											class="col bold s12 s12 m6 l6 xl6 restaurant-stars-display-col default-text-size align-center-on-small-vw">
											Postcode
										</div>
										<div
											class="col s12 s12 m6 l6 xl6 restaurant-stars-display-col default-text-size align-center-on-small-vw">
											{{
											restaurants.restaurant_address_postcode
											}}
										</div>
									</div>
									<div class="row">
										<div
											class="col bold s12 s12 m6 l6 xl6 restaurant-stars-display-col default-text-size align-center-on-small-vw">
											Date Registered
										</div>
										<div
											class="col s12 s12 m6 l6 xl6 restaurant-stars-display-col default-text-size align-center-on-small-vw">
											{{
											restaurants.restaurant_date_registered
											}}
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="intro-container align-center md-padding-bottom">
					<div class="row s12 m12 l12 xl12 align-center">
						<div class="col s12 m12 l12 xl12 align-center">
							<form
								action="{{ url_for('restaurant_profile', restaurant_id=restaurants.restaurant_id) }}"
								method="POST">
								<input
									type="hidden"
									name="restaurant_id"
									id="restaurant_id"
									value="{{restaurants.restaurant_id }}">
								<button type="submit" class="card-panel">
									Leave a review for {{
									restaurants.restaurant_name }}
								</button>
							</form>
						</div>
					</div>
				</div>
				<div class="row md-padding-bottom">
					<div class="col"></div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endfor %}
{% endblock %}
