KEEP THIS {% extends "base.html" %} {% block content %}

<!--USER FORM FOR GET INVOLVED-->

<!--USER FORM FOR GET INVOLVED-->
<section class="register">
  <form method="POST" action="{{ url_for('handle_hash') }}">
    <div class="container align-center login-container">
      <div class="row sign-up-row align-center">
        <div class="col-sign-up align-center lg-padding">
          <h3>Password Hash</h3>
        </div>
      </div>

      <div class="row sign-up-row align-center">
        <div class="col-sign-up align-right lg-padding">
          <label for="name">Password:</label>
        </div>
        <div class="col-sign-up align-left">
          <input
            type="password"
            class="sign-up"
            name="password_register"
            id="password_register"
            placeholder="Choose a password"
            required
          />
        </div>
      </div>

      <div class="row sign-up-row align-center">
        <div class="col-sign-up align-center">
          <input
            type="submit"
            class="submit-btn"
            name="submit_register"
            id="submit_register"
            value="Register"
          />
        </div>
      </div>
    </div>
  </form>
</section>

<div class="rating">
  <input id="rating1" type="radio" name="rating" value="1" />
  <label for="rating1">1</label>
  <input id="rating2" type="radio" name="rating" value="2" />
  <label for="rating2">2</label>
  <input id="rating3" type="radio" name="rating" value="3" />
  <label for="rating3">3</label>
  <input id="rating4" type="radio" name="rating" value="4" />
  <label for="rating4">4</label>
  <input id="rating5" type="radio" name="rating" value="5" />
  <label for="rating5">5</label>
</div>

{% endblock %}
